extension = "newrelic.so"
[newrelic]
newrelic.license = ${NEWRELIC_KEY}
newrelic.logfile = "/var/log/newrelic/php_agent.log"
newrelic.appname = ${NEWRELIC_APPNAME}
newrelic.daemon.logfile = "/var/log/newrelic/newrelic-daemon.log"
newrelic.daemon.port = "/tmp/newrelic.sock"